# Converting Cordinates to Actual Location (Cities, etc.)

In [1]:
import pandas as pd
import geopy
from geopy.geocoders import Nominatim as nt

In [2]:
df = pd.read_excel("snow1.xlsx")

In [ ]:
def get_country_state(lat, lng):
    try:
        location = geolocator.reverse((lat, lng), exactly_one=True)
        if location is not None:
            address = location.raw.get('address', {})
            country = address.get('country', '')
            state = address.get('state', '')
            return f"{country}, {state}"
    except:
        pass
    return ""
df['Country_State'] = df.apply(lambda row: get_country_state(row['Latitude'], row['Longitude']), axis=1)
print(df.head(3))

In [5]:
df.head()

       Month  Latitude  Longitude    Snow Country_State
0 2022-12-01    63.125     68.875   95.28
1 2022-12-01    63.125     69.125  100.00
2 2022-12-01    63.125     69.375  100.00
3 2022-12-01    63.125     69.625  100.00
4 2022-12-01    63.125     69.875  100.00

In [3]:
geolocator = nt(user_agent="my_app")

def get_country_state(lat, lng):
    try:
        location = geolocator.reverse(f"{lat}, {lng}", exactly_one=True)
        if location is not None:
            address = location.raw.get('address', {})
            country = address.get('country', '')
            state = address.get('state', '')
            return f"{country}, {state}"
    except:
        pass
    return ""

In [6]:
df.head()

       Month  Latitude  Longitude    Snow
0 2022-12-01    63.125     68.875   95.28
1 2022-12-01    63.125     69.125  100.00
2 2022-12-01    63.125     69.375  100.00
3 2022-12-01    63.125     69.625  100.00
4 2022-12-01    63.125     69.875  100.00